{% extends 'base.html' %}

{% load static %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<div class="container">
    <span class="holder">
        <p class="catchy-text">Not your regular competition.</p>
        <button class="btn btn-primary trynow">Try Now <i class="bi bi-arrow-right-short"></i></button>
    </span>
</div>

<div class="details">
    <div class="card-list-holder">
        <ul>
            <li>
                <span class="card shadow-lg">
                    <span class="horizontal-title">
                        <p class="card-title">Make drinking funnier</p>
                        <i class="bi bi-cup-straw"></i>
                    </span>
                    
                </span>
            </li>
            <li>
                <span class="card shadow-lg">
                    <span class="horizontal-title">
                        <p class="card-title">Invite your friends </p>
                        <i class="bi bi-person-arms-up"></i>
                    </span>
                    
                </span>
            </li>
            <li>
                <span class="card shadow-lg">
                    <span class="horizontal-title">
                        <p class="card-title">Quit alcohol gamemode</p>
                        <i class="bi bi-emoji-expressionless-fill"></i>
                    </span>
                    
                </span>
            </li>
            <li>
                <span class="card shadow-lg">
                    <span class="horizontal-title">
                        <p class="card-title">Play carefully</p>
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                    </span>
                    
                </span>
            </li>
        </ul>
        <hr style="width: 90%; margin-top: 2rem;">
    </div>

    <div class="questiondiv">
        <p class="question">What about the challenges?</p>
    </div>
    
    
</div>



{% endblock %}