body{
    background: linear-gradient(120deg, #e51137, #930721);
    background-size: 300% 300%;
    animation: wave 4s infinite ease-in-out;
}

@keyframes wave {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 55%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 45%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container{
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.holder{
    width: 20rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.catchy-text{
    margin: 0;
}

.trynow{
    width: 50%;
    background-color: whitesmoke;
    color: #e51137 !important;
    border: none;
    border-radius: 2rem;
    font-weight: bold;
}

.trynow:hover{
    background-color: rgb(205, 205, 205);
    
}